*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.width(@num){
    width: @num;
}
html,body{
    width: 1366px;
    overflow-x: hidden;
}
// 版心
.wrapper{
   .width(1170px);
    margin: 0 auto;
    height: 100%;
}
.wrapper:after{
    content:'';
    display:block;
    height:0;
    /*相当于一个空的块状元素div*/
    overflow:hidden;
    visibility:hidden;
    clear:both;
    }
// header start
.head{
    .width(1366px);
    height: 36px;
    background: rgb(49, 10, 10);
    li{
        width: 145px;
    }
}
.head-left{
    float: left;
    >li{
        float: left;
       
        >a{
            width: 145px;
            height: 36px;
            color: #fff;
            padding: 0;
            text-align: center;
            line-height: 36px;
            text-decoration: none;
            display: inline-block;
        }
        >a:hover{
            background: rgb(99, 92, 92);
        }
        >.active{
            background: rgb(85, 68, 68);
        }
    }
}
.head-rigth{
    float: right;
    >li{
        float: left;
        width: 120px;
        text-align: center;
        >a{
            
            height: 36px;
            color: #fff;
            padding: 0;
            
            line-height: 36px;
            text-decoration: none;
            display: inline-block;
            >span>span{
                padding-left: 10px;
                line-height: 18px;
            }
        }
        &:hover{
            background: rgb(99, 92, 92);
            &:first-of-type{
                background: rgb(49, 10, 10);
            }
        }
        
    }
    >li:first-of-type{
        line-height: 36px;
        >a{
            float: left;
            background: none;
            width: 50px;
        }
        >span{
            float: left;
            color: #fff;
        }
    }
}
// nav start
nav{
    height: 78px;
    .width(1366px);
    box-shadow: 1px 1px 6px #666;
    .wrapper>.logo{
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wrapper>.glyphicon-th-list{
        font-size: 26px;
        color: rgb(204, 201, 201);
        font-weight: 100;
        padding-left: 12px;
        border-left: 1px solid rgb(204, 201, 201);
        position: absolute;
        top: 36%;
        left: 220px;
        cursor: pointer;
    }
    .wrapper>.gtl{
        color: rgb(184, 88, 88);
    }
    .nav{
        height: 78px;
        position: absolute;
        top: 0;
        left: 260px;
    }

    .wrapper>.nav>div{
        float: left;
        width: 90px;
        text-align: center;
        line-height: 78px;
        
        >a{
            text-decoration: none;
            color: #000;
            font-size: 16px;
            
        }
        // &:first-of-type>a{
        //     color: #f00;
        // }
        &:hover{
            >a{
                color: #f00;
            }
        }
    }


    .wrapper{
        position: relative;
    }
    .wrapper>.sea{
        width: 180px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #888;
        position: absolute;
        top: 50%-19px;
        right: 36PX;
        color: #888;
        >input{
            height: 34px;
            width: 140px;
            border: none;
            outline: none;
            margin-left: 3px;
        }
        >a{
            text-decoration: none;
            color: #888;
            font-size: 16px;
        }
    }
}

nav>.wrapper>.nav>div>ul{
    transition: all 1s;
    display: none;
}
nav>.wrapper>.nav>div:hover>a~ul{
    display: inline-block;
    position: absolute;
    top: 78px;
    left: -356px;
    width: 1360px;
    height: 242px;
    margin: 0;
    border-top: 1px solid #888;
    z-index: 999;
    background: #fff;
    transition: all 1s;
    >span{
        width: 356px;
        line-height: 242px;
        text-align: center;
        float: left;
    }
    >ul{
        position: absolute ;
        left: 356px;
        
        >li{
            float: left;
            >a{
                display: inline-block;
                padding:0 20px;
                margin: 20px 0;
                border-right: 1px solid #888;
            }
            >p{
                margin: 0;
                height: 28px;
                line-height: 28px;
            }
            >p:nth-of-type(1){
                >a{
                    color: #000;
                    text-decoration: none;
                }
            }
            >p:nth-of-type(2){
                color: #f00;
            }
        }
    }
}

// gtl下导航菜单 start

.wrapper{
    position: relative;
   
    .banner-nav{
        display: none;
        >span{
            z-index: 999;
        height: 500px;
        width: 226px;
        background: #000;
        opacity: 0.5;
        position: absolute;
        top: 78px;
        left: -6px;
        }
        >div{
            width: 226px;
            position: absolute;
            top: 78px;
            left: -6px;
            z-index: 999;
            >div{
                height: 60px;
                line-height: 60px;
                color: #fff;
                >span{
                    padding:0 18px;
                }
                >a{
                    text-decoration: none;
                    font-size: 18px;
                    color:#fff;
                    opacity: 1;
                    z-index: 99;
                }
                &:hover{
                    z-index: 99;
                    opacity: 1;
                    background: rgb(63, 37, 37);
                }
                >div{
                    display: none;
                }
                &:hover>div{
                    display: inline-block;
                    height: 500px;
                    width: 226px*2;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 226px;
                    >p{
                        width: 400px;
                        margin: 0 auto;
                        border-bottom: 1px solid #999;
                        >a>img{
                            width: 80px;
                        }
                        >a{
                            text-decoration: none;
                            color: #000;
                            padding: 0 10px;
                        }
                    }
                    >div{
                        width: 400px;
                        margin: 0 auto;
                        >li{
                            float: left;
                            height: 36px;
                            line-height: 36px;
                            >a{
                                text-decoration: none;
                                color: #444;
                                padding: 0 20px;
                                border-left: 1px solid #999;
                            }
                        }
                    }
                }
            }
    
        }
    }
    .gtl-nav{
        display: inline-block;
    }
}

// 当前位置 start

.site{
    background: rgb(230, 228, 228);
    padding: 20px;
    border-bottom: 1px solid rgb(201, 199, 199);
    >.wrapper{
        >span{
            padding:10px ;
        }
        >a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: #f00;
            }
        }
    }
}

// 详细页主内容 main start
.details-main{
    background: rgb(236, 235, 235);
    padding:18px;
    padding-bottom: 20px;
    >.wrapper>.details-main-top{
        position: relative;
        height: 600px;
        &::after{
            content: '';
            display: block;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            clear: both;
        }
        >div{
            position: relative;
        }
        >div>.big{
            // float: left;
            width: 480px;
            height: 480px;
            background: #fff;
            border: 1px solid #999;
           
        }
        >div>.big-left{
            overflow: hidden;
            >img{
                width: 480px;
                display: block;
            }
        }
        >div>.big-rigth{
            display: none;
            overflow: hidden;
            margin-left: 12px;
            z-index: 999;
            position: absolute;
            top: 0px;
            right: 198px;
        }
        >div>.sm{
           position: absolute;
           top: 480px;

            margin-top: 12px;
            >span{
                cursor: pointer;
            }
            >span>img{
                width: 82px;
                border: 1px solid #999;
                margin-right: 6px;
                
            }
            >span:nth-of-type(6)>img{
                    margin-right: 0;
            }
        }

        >div>.move-box{
            width: 180px;
            height: 180px;
            border: 1px solid #444;
            background: yellowgreen;
            z-index: 99;
            opacity: .5;
            position: absolute;
            top: 150px;
            left: 150px;
        }

        .details-box{
            // width: 520px;
            position: relative;
            top: -480px;
            right: -560px;
            z-index: 0;
           >div{
               position: absolute;
                top: 0;
                height: 120px;
            >ul{
                width: 590px;
                border-bottom: 1px solid #999;
                padding: 20px 0;
                
                >a{
                    position: absolute;
                    top: 32px;
                    right: 0;
                    color: #000;
                    font-size: 12px;
                    padding: 4px 14px;
                    background: rgb(235, 233, 233);
                    border: 1px solid rgb(180, 180, 180);

                }
                >div{
                    >p{
                        width: 460px;
                        height:32px;
                        font-size: 16px;

                    }
                    >span{
                        color: #888;
                        font-size: 12px;
                        line-height:36px;
                    }
                }
               
            }
            >ul:nth-of-type(2){
                padding-top: 12px;
                padding-bottom: 50px;
                >span{
                    color: #f00;
                    font-size: 24px;
                    font-weight: 900;
                }
            }
            >ul:nth-of-type(3){
                padding-top: 24px;
                padding-bottom: 24px;
                >p{
                    font-size: 16px;
                    line-height: 28px;
                    >span:nth-of-type(2){
                        border: 1px solid #999;
                        padding: 6px 18px;
                        margin-left: 32px;
                    }
                }
            }
            >ul:nth-of-type(4){
                border: none;
                padding-top: 24px;
                padding-bottom: 24px;
                >p:nth-of-type(1){
                    font-size: 16px;
                    line-height: 28px;
                    user-select: none;
                    >span:nth-of-type(2){
                        border: 1px solid #999;
                        padding: 6px 0;
                        margin-left: 32px;
                        background: rgb(211, 208, 208);
                        
                        >span{
                            display:inline-block;
                            width: 28px;
                            text-align: center;
                            font-size: 18px;
                            cursor: pointer;
                            user-select: none;
                        }
                        >input{
                            display: inline-block;
                            text-align: center;
                            padding: 6px ;
                            width: 68px;
                            border: none;
                            outline: none;
                            height: 28px;
                            background: rgb(211, 208, 208);
                            border-right: 1px solid #999;
                            border-left: 1px solid #999;
                        }
                        
                    }
                }
                >p:nth-of-type(2){
                    font-size: 16px;
                    line-height: 48px;
                    >span{
                        margin-right: 38px;
                        >a{
                            text-decoration: none;
                            
                            text-align: center;
                            font-size: 12px;
                            padding: 12px 42px;
                            &:nth-of-type(1){
                                color: #fff;
                                background: rgb(235, 11, 41);
                            }
                            &:hover{
                               opacity: .8;
                            }
                            
                        }
                        &:nth-of-type(2){
                            text-align: center;
                            font-size: 12px;
                            padding: 0px 42px;
                            height: 42px;
                            line-height: 42px;
                            cursor: pointer;
                            display: inline-block;
                                color: #000;
                                border: 1px solid rgb(219, 215, 215);
                                background: rgb(211, 208, 208);
                                &:hover{
                                    color: rgb(241, 25, 25);
                                border: 1px solid rgb(243, 34, 34);
                              
                            }
                        }
                    }
                }
            }
            >p{
                >span{
                    margin-right: 48px;
                    color: rgb(236, 119, 10);
                }
                >span:nth-of-type(3){
                    margin: 0;
                }
                a{
                    text-decoration: none;
                    font-size: 12px;
                    color: #000;
                    padding-left: 12px;
                }
            }
           }
        }
    }
}

// 详情页介绍区 start
.details-pt{
    background: rgb(236, 235, 235);
    >.wrapper>div{
        width: 100%;
        margin-bottom: 24px;
        border: 1px solid #999;
        background: rgb(241, 241, 241);
        >ul{
            margin: 0;
            >span{
                display: inline-block;
                // text-indent: 32px;
                padding: 24px 32px;
                // border-left: 1px solid #999;
                margin-right:32px;
                font-size: 16px;
                cursor: pointer;
                
            }
            // span:first-of-type{
            //     border: none;
            // }
            >.active{
                border-bottom: 3px solid #f00;
            }
        }
    }
    >.wrapper>.cp{
        border: none;
        width: 100%;
        >img{
            width: 100%;
        }
    }
}