* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #eedfdf;
}
.wrapper {
  width: 92vw;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 68px;
  background: #fff;
}
header img {
  height: 68px;
}
header > div > span {
  font-size: 24px;
  display: inline-block;
  border-left: 1px solid #888;
  padding-left: 24px;
  position: absolute;
  top: 21px;
  color: #444;
}
main {
  width: 520px;
  height: 480px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 14%);
  box-shadow: 1px 1px 6px 1px #666;
}
.top > .top-title {
  position: relative;
}
.top > .top-title > div {
  height: 58px;
}
.top > .top-title > div > a {
  float: left;
  width: 260px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  font-size: 20px;
  color: #000;
}
.top > .top-title > div > .active {
  background: #e0dfdf;
  color: #666;
}
.top > .top-title > div > .text > div {
  width: 384px;
  height: 32px;
  border: 1px solid #666;
  margin: 28px 59px;
  padding: 8px;
  color: #999;
  line-height: 32px;
}
.top > .top-title > div > .text > div > input {
  float: right;
  height: 28px;
  width: 340px;
  font-size: 16px;
  border: none;
  outline: none;
}
.top > .top-title > div > .text > div > span {
  font-size: 28px;
}
.top > .top-title > div > .top-right {
  position: absolute;
  top: 58px;
}
.top > .top-title > div > .top-right > div:nth-of-type(2) {
  position: relative;
}
.top > .top-title > div > .top-right > div:nth-of-type(2) > input {
  width: 220px;
  position: absolute;
  left: 52px;
}
.top > .top-title > div > .top-right > div:nth-of-type(2) > a {
  font-size: 18px;
  color: #000;
  font-weight: 100;
  float: right;
  border-left: 1px solid #666;
  padding-left: 16px ;
  padding-right: 8px;
  line-height: 48px;
  position: absolute;
  top: 0;
  right: 0;
}
.bot {
  position: absolute;
  bottom: 36px;
  left: 52px;
}
.bot > p:first-of-type {
  text-align: center;
  line-height: 36px;
}
.bot > p:first-of-type > a {
  width: 400px;
  height: 38px;
  background: #468bf3;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
}
.bot > p:nth-of-type(2) {
  font-size: 18px;
  color: #468bf3;
  padding: 8px 0;
}
.bot > p:nth-of-type(2) > span {
  float: right;
  padding-right: 12px;
}
.bot > p:nth-of-type(2) > span > a {
  color: #468bf3;
  font-size: 14px;
}
.bot > ul {
  width: 420px;
  padding: 42px 0;
  position: relative;
}
.bot > ul > div {
  float: left;
  width: 160px;
  border-top: 1px solid #888;
}
.bot > ul > div:nth-of-type(3) {
  float: right;
}
.bot > ul > div:nth-of-type(2) {
  width: 100px;
  border: none;
  text-align: center;
  font-size: 12px;
  color: #666;
  position: absolute;
  top: 32px;
  left: 38%;
}
.bot > div > a {
  font-size: 38px;
  margin: 32px;
}
.bot > div > a:first-of-type {
  color: #499ce0;
}
.bot > div > a:nth-of-type(2) {
  color: #14e65a;
}
.bot > div > a:nth-of-type(3) {
  color: #d34f27;
}
.bot > div > a:nth-of-type(4) {
  color: #257dc5;
}
