* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}
.wrapper:after {
  content: '';
  display: block;
  height: 0;
  /*相当于一个空的块状元素div*/
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.head {
  height: 36px;
  background: #310a0a;
}
.head li {
  width: 145px;
}
.head-left {
  float: left;
}
.head-left > li {
  float: left;
}
.head-left > li > a {
  width: 145px;
  height: 36px;
  color: #fff;
  padding: 0;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  display: inline-block;
}
.head-left > li > a:hover {
  background: #635c5c;
}
.head-left > li > .active {
  background: #554444;
}
.head-rigth {
  float: right;
}
.head-rigth > li {
  float: left;
  width: 120px;
  text-align: center;
}
.head-rigth > li > a {
  height: 36px;
  color: #fff;
  padding: 0;
  line-height: 36px;
  text-decoration: none;
  display: inline-block;
}
.head-rigth > li > a > span > span {
  padding-left: 10px;
  line-height: 18px;
}
.head-rigth > li:hover {
  background: #635c5c;
}
.head-rigth > li:hover:first-of-type {
  background: #310a0a;
}
.head-rigth > li:first-of-type {
  line-height: 36px;
}
.head-rigth > li:first-of-type > a {
  float: left;
  background: none;
  width: 50px;
}
.head-rigth > li:first-of-type > span {
  float: left;
  color: #fff;
}
nav {
  height: 78px;
}
nav .wrapper > .logo {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
nav .nav {
  height: 78px;
  position: absolute;
  top: 0;
  left: 260px;
}
nav .wrapper > .nav > div {
  float: left;
  width: 90px;
  text-align: center;
  line-height: 78px;
}
nav .wrapper > .nav > div > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
nav .wrapper > .nav > div:first-of-type > a {
  color: #f00;
}
nav .wrapper > .nav > div:hover > a {
  color: #f00;
}
nav .wrapper {
  position: relative;
}
nav .wrapper > .sea {
  width: 180px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #888;
  position: absolute;
  top: 31%;
  right: 36PX;
  color: #888;
}
nav .wrapper > .sea > input {
  height: 34px;
  width: 140px;
  border: none;
  outline: none;
  margin-left: 3px;
}
nav .wrapper > .sea > a {
  text-decoration: none;
  color: #888;
  font-size: 16px;
}
nav > .wrapper > .nav > div > ul {
  display: none;
}
nav > .wrapper > .nav > div:hover > a ~ ul {
  display: inline-block;
  position: absolute;
  top: 78px;
  left: -356px;
  width: 1360px;
  height: 242px;
  margin: 0;
  border-top: 1px solid #888;
  z-index: 999;
  background: #fff;
}
nav > .wrapper > .nav > div:hover > a ~ ul > span {
  width: 356px;
  line-height: 242px;
  text-align: center;
  float: left;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul {
  position: absolute ;
  left: 356px;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul > li {
  float: left;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul > li > a {
  display: inline-block;
  padding: 0 20px;
  margin: 20px 0;
  border-right: 1px solid #888;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul > li > p {
  margin: 0;
  height: 28px;
  line-height: 28px;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul > li > p:nth-of-type(1) > a {
  color: #000;
  text-decoration: none;
}
nav > .wrapper > .nav > div:hover > a ~ ul > ul > li > p:nth-of-type(2) {
  color: #f00;
}
.carousel-indicators {
  position: absolute;
  left: 80%;
}
.carousel-inner > .item > a > img {
  height: 500px;
}
.banner {
  position: relative;
}
.banner .banner-nav > span {
  height: 500px;
  width: 226px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 90px;
}
.banner .banner-nav > div {
  width: 226px;
  position: absolute;
  top: 0;
  left: 90px;
}
.banner .banner-nav > div > div {
  height: 60px;
  line-height: 60px;
  color: #fff;
}
.banner .banner-nav > div > div > span {
  padding: 0 18px;
}
.banner .banner-nav > div > div > a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  opacity: 1;
  z-index: 99;
}
.banner .banner-nav > div > div:hover {
  z-index: 99;
  opacity: 1;
  background: #3f2525;
}
.banner .banner-nav > div > div > div {
  display: none;
}
.banner .banner-nav > div > div:hover > div {
  display: inline-block;
  height: 500px;
  width: 452px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 226px;
}
.banner .banner-nav > div > div:hover > div > p {
  width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid #999;
}
.banner .banner-nav > div > div:hover > div > p > a > img {
  width: 80px;
}
.banner .banner-nav > div > div:hover > div > p > a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}
.banner .banner-nav > div > div:hover > div > div {
  width: 400px;
  margin: 0 auto;
}
.banner .banner-nav > div > div:hover > div > div > li {
  float: left;
  height: 36px;
  line-height: 36px;
}
.banner .banner-nav > div > div:hover > div > div > li > a {
  text-decoration: none;
  color: #444;
  padding: 0 20px;
  border-left: 1px solid #999;
}
.main {
  background: #e4e2e2;
}
.notice {
  width: 100%;
  margin-bottom: 48px;
}
.notice > p {
  padding: 16px 0;
  margin: 0;
}
.notice > a {
  display: inline-block;
  margin-left: 4px;
}
.notice > a > img {
  float: left;
}
.notice > div {
  float: left;
  width: 182px;
  text-align: center;
}
.notice > div::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.notice > div > a {
  float: left;
  height: 80px;
  width: 90px;
  line-height: 80px;
  background: #444;
  text-decoration: none;
  color: #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.text {
  width: 100%;
  margin-bottom: 48px;
}
.text::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.text > .text-nav {
  margin: 10px 0;
}
.text > .text-nav::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.text > .text-nav > div {
  float: left;
}
.text > .text-nav > div > span {
  font-size: 28px;
  padding-left: 20px;
  padding-right: 32px;
  border-left: 6px solid #c2395b;
}
.text > .text-nav > div > a {
  text-decoration: none;
  color: #573a14;
}
.text > .text-nav > ul {
  float: right;
}
.text > .text-nav > ul > a {
  text-decoration: none;
  color: #000;
  margin-left: 32px;
}
.text > .text-nav > ul > a:hover {
  color: #f00;
}
.text > .text-bot > a {
  float: left;
}
.text > .text-bot > div {
  height: 632px;
}
.text > .text-bot > div > div {
  background: #fff;
  float: left;
  width: 228px;
  padding: 24px 20px;
  margin-left: 8px;
  margin-bottom: 7px;
  text-align: center;
}
.text > .text-bot > div > div:hover {
  box-shadow: 0px 0px 6px 0px #666;
}
.text > .text-bot > div > div > a:nth-of-type(2) {
  line-height: 26px;
  margin: 10px 0 ;
  width: 208px;
  text-decoration: none;
  color: #0a0a0a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.text > .text-bot > div > div > p {
  color: #666;
  font-size: 12px;
  line-height: 24px;
}
.text > .text-bot > div > div > span {
  color: #f00;
}
.main > .wrapper > .kt > div > div > span {
  border-left: 6px solid #3c6ef8;
}
.main > .wrapper > .kt > div > div > span ~ a {
  color: #4254fa;
}
.main > .wrapper > .bx > div > div > span {
  border-left: 6px solid #f8973c;
}
.main > .wrapper > .bx > div > div > span ~ a {
  color: #fac042;
}
.main > .wrapper > .sh > div > div > span {
  border-left: 6px solid #f23cf8;
}
.main > .wrapper > .sh > div > div > span ~ a {
  color: #eb42fa;
}
.main > .wrapper > .zb > div > div > span {
  border-left: 6px solid #ee7919;
}
.main > .wrapper > .zb > div > div > span ~ a {
  color: #ee7919;
}
.footer {
  background: #888;
  padding-bottom: 12px;
}
.footer > .wrapper > .footer-top > ul {
  padding: 32px 0;
  margin: 0;
  border-bottom: 1px solid #666;
}
.footer > .wrapper > .footer-top > ul::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.footer > .wrapper > .footer-top > ul > li > span {
  float: left;
}
.footer > .wrapper > .footer-top > ul > li > span > h4 {
  font-weight: 900;
}
.footer > .wrapper > .footer-top > ul > li > span:first-of-type {
  font-size: 46px;
  margin-right: 32px;
}
.footer > .wrapper > .footer-top > ul > li:nth-of-type(1),
.footer > .wrapper > .footer-top > ul > li:nth-of-type(2) {
  width: 480px;
  float: left;
}
.footer > .wrapper > .footer-top > ul > li::nth-of-type(3) {
  width: 160px;
  float: right;
}
.footer > .wrapper > .footer-top > div {
  padding: 20px;
}
.footer > .wrapper > .footer-top > div > ul {
  float: left;
  margin: 0;
}
.footer > .wrapper > .footer-top > div > ul::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.footer > .wrapper > .footer-top > div > ul > div {
  float: left;
  margin-right: 28px;
}
.footer > .wrapper > .footer-top > div > ul > div > h4 {
  margin: 0;
}
.footer > .wrapper > .footer-top > div > ul > div > a {
  text-decoration: none;
  color: #666;
  line-height: 32px;
}
.footer > .wrapper > .footer-top > div > ul::nth-of-type(2) > div {
  padding: 0 20px;
}
.footer > .wrapper > .footer-top > div > ul > span {
  display: inline-block;
  width: 86%;
  border-top: 1px solid #666;
  padding-top: 40px;
  margin-top: 12px;
  position: relative;
}
.footer > .wrapper > .footer-top > div > ul > span > a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer > .wrapper > .footer-top > div > ul > span > a:hover {
  color: #f00;
}
.footer > .wrapper > .footer-top > div > .one {
  padding: 0 26px;
  border-left: 1px solid #666;
  float: left;
}
.footer > .wrapper > .footer-top > div > .one > span {
  color: #000;
  font-size: 26px;
}
.footer > .wrapper > .footer-top > div > .one > span > a {
  font-size: 16px;
  text-decoration: none;
  color: #c23232;
  line-height: 26px;
}
.footer > .wrapper > .footer-top > div > .one > span:nth-of-type(3) {
  display: inline-block;
  padding-top: 10px;
}
.footer > .wrapper > .footer-top > div > .one > img {
  width: 100px;
}
.footer > .wrapper > .footer-top > div > .one > img:nth-of-type(2) {
  margin-left: 30px;
}
.footer > .wrapper > .footer-top > div > .footer-one {
  padding: 18px;
  padding-left: 22px ;
}
.footer > .wrapper > .footer-top > div > .footer-one > span {
  font-size: 12px;
  display: inline-block;
  padding: 6px 30px;
}
.footer > .wrapper > .footer-top > div > .footer-one > span:nth-of-type(2) {
  margin-left: 18px;
  padding-right: 0;
}
.footer-bot {
  background: #000;
}
.footer-bot > .wrapper > .bot > h2 {
  text-align: center;
  margin: 0;
  padding: 24px;
}
.footer-bot > .wrapper > .bot > p {
  text-align: center;
  color: #888;
}
.footer-bot > .wrapper > .bot > p > a {
  text-decoration: none;
  color: #888;
}
.footer-bot > .wrapper > .bot > ul {
  padding: 36px 85px;
  margin: 0;
}
.footer-bot > .wrapper > .bot > ul::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.footer-bot > .wrapper > .bot > ul li {
  float: left;
  color: #888;
  width: 200px;
  line-height: 36px;
}
.footer-bot > .wrapper > .bot > ul li > img {
  padding-right: 12px;
}
.fixed-nav-left {
  display: none;
  position: fixed;
  top: 32%;
  left: 6px;
}
.fixed-nav-left > span {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  text-align: center;
  line-height: 48px;
  border-bottom: 1px solid #888;
}
.fixed-nav-left > span:hover {
  background: #f00;
  color: #fff;
  border: none;
}
.fixed-nav-left .fixed-color {
  background: #f00;
  color: #fff;
  border: none;
}
.fixed-nav-right {
  position: fixed;
  top: 32%;
  right: 12px;
}
.fixed-nav-right > a {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-decoration: none;
  background: #888;
  text-align: center;
  border-bottom: 1px solid #999;
  position: relative;
}
.fixed-nav-right > a > span {
  float: left;
  color: #e2e0e0;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}
.fixed-nav-right > a > span:last-of-type {
  position: absolute;
  top: 12px;
  right: 12px;
}
